*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.app{
    padding: 4em 2em;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    background-color: antiquewhite;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 0.5em;
    background-color: seashell; 
    padding: 10px; 
    border-radius: 10px;
    box-shadow: 0 1px 8px rgb(176, 175, 173);
}
.form_itemms{
    width: 80%;
    font-size: medium;
}
.board{
    width: 80%;
}
.card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgb(176, 175, 173);
}
input{
    padding: 5px;
}
textarea{
    padding: 5px;
}
.missions{
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addmission{
    background-color: rgb(202, 248, 232);
    width: 40%;
    transition: transform 0.3s;
}
.addmission:hover{
    transform:scale(1.1) ;
}
select{
    padding: 2px;
}
.card button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 5em;
    height: 2em;
    transition: transform 0.3s;
}
.card button:hover{
    transform:scale(1.1) ;
}